<!DOCTYPE html>
<html>
<head>
    <title>Habits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<h1>Your promise not to {{ habit.title }}</h1>

<p>You've quit this habit for <span data-track-date="{{ habit.track_date }}" data-now-date="{{ habit.time_now }}" class="time">{{ habit.track_date|timesince:habit.time_now }}</span></p>

<p>Bookmark your badhabit link, keep track of your progress
    http://example.com/habit/{{ habit.hash }}</p>

</body>
</html>