<!DOCTYPE html>
<html>
<head>
    <title>Habits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/master.css" />
</head>
<body>


<form id="form-add" action="{%  url 'myapp:add'  %}" method="post">
{% csrf_token %}
<input type="text" name="title" id="title" value="" placeholder="Title your countdown" />
<input type="submit" value="Add" />
</form>

<hr />
<h1>Latest</h1>

{% if latest_habits_list %}
    <ul>
    {% for habit in latest_habits_list %}
        <li>{{ habit.id }}, {{ habit.hash }}, {{ habit.title }}, {{ habit.track_date }} ({{ habit.track_date|timesince:habit.time_now }})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No records</p>


{% endif %}
</body>
</html>